@model FitnessClub.Domain.DTO.Client

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Client</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Dataroshdenia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Dataroshdenia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Pol)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pol)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ves)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ves)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Rost)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Rost)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nashaloabonimenta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nashaloabonimenta)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Okonshanie)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Okonshanie)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Telephone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Telephone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.НазваниеgruppiNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.НазваниеgruppiNavigation.Названиеgruppi)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Nomerabonimenta" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
